extends main 

block var 
    - var pageTitle = 'Card Game'

block content
    .game-field  
        .box-d 
            .box-timer
                .box-numbers    
                    p.box-min min
                    p.box-sec sec 
                .box-time 00:00 
            .box-box--active  
                button.btn_diff-submit Начать заново
        .field-active Тут будут карточки, но не сегодня
    include script.pug              