extends main 

block var 
    - var pageTitle = 'Card Game'

block content
    .content
        .box-active
            .box-h2  
                h2.box Выбор сложности
            .box-diffs  
                .box-diff
                    .box-number(data-value=6,data-focus='') 1
                .box-diff
                    .box-number(data-value=12,data-focus='') 2
                .box-diff
                    .box-number(data-value=18,data-focus='') 3
            .box-btn 
                button.btn_diff-submit Старт
    include script.pug      
          