extends main 

block var 
    - var pageTitle = 'Card Game'

block content
    .content
        .box-active
            .box-h2  
                h2.box Выбор сложности
            .box-diffs  
                .box-diff
                    .box-number(data-focus='',data-value=6) 1
                .box-diff
                    .box-number(data-focus='',data-value=12) 2
                .box-diff
                    .box-number(data-focus='',data-value=18) 3
            .box-btn 
                button.btn_diff-submit(type='submit') Старт
    include script.pug      
          