block var

doctype html
html(lang="en")
  head
    title= pageTitle
    link(href="style.css", rel="stylesheet")
    link(type="image/x-icon", href="res/1f0cf.png", rel="shortcut icon")
  body
    block content
     