script(src="./lib/deck.js")
script(src="./lib/deck-generate.js")
script(src="./lib/templateEngine.js") 
script(src="./lib/gameCore.js")
script(src="./lib/chooseDiff.js")
script(src="./lib/route.js") 
script(src="./lib/cardField.js") 



